<h1 class="text-center">Angular Reddit Clone</h1>
<div class="container">
  <div class="row">
    <h3>Add Post</h3>
    <div class="col-md-6">
      <div class="title-container">
        <label for="title" class="mt-2">Title</label>
        <input class="form-control" type="text" id="title" #title>
      </div>
      <div class="link-container">
        <label for="link" class="mt-2">Link</label>
        <input class="form-control" type="text" id="link" #link>
      </div>
      <button class="btn btn-success" (click)="add_article(title,link)">Submit</button>
    </div>
  </div>
</div>

<app-article *ngFor="let Articls of storeData()" [Articls]="Articls"></app-article>
<router-outlet></router-outlet>
